{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/analytics.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
        <div class="card">
            <div class="card-header"><span class="card-title">Gain / Loss</span></div>
             <div id="select-container">
                 <span class="inline-span">
                     <div class="input-group">
                         <label class="input-group-text"><i class="uil uil-processor"></i></label>
                         <select class="form-select" id="processor-select">
                             {% for processor in processors %}
                                 <option value="{{ processor }}" {% if loop.index0 == 0 %} selected {% endif %}>
                                     {{ processor }}
                                 </option>
                             {% endfor %}
                         </select>
                     </div>
                 </span><span style="padding-left:20px"></span><span class="inline-span">
                     <div class="input-group">
                         <label class="input-group-text"><i class="uil uil-clock"></i></label>
                         <select class="form-select" id="timeframe-select">
                             <option value="Daily" selected>Daily</option>
                             <option value="Monthly">Monthly</option>
                         </select>
                     </div>
                 </span>
            </div>
            <div class="chart-container">
                <canvas id="graph-gl-all"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-6">
        <div class="card fix-height-card">
            <div class="card-header"><span class="card-title">Profit Analysis</span></div>
            <div class="card-body overflow-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">PROCESSOR</th>
                            <th scope="col">
                                <span class="lg-hidden">GAIN / LOSS</span>
                                <span class="lg-show">G/L</span>
                                (ALL)
                            </th>
                            <th scope="col">
                                <span class="lg-hidden">GAIN / LOSS</span>
                                <span class="lg-show">G/L</span>
                                (3M)
                            </th>
                            <th scope="col">WIN <span class="lg-hidden">RATE</span><span class="lg-show">%</span> (ALL)</th>
                            <th scope="col">WIN <span class="lg-hidden">RATE</span><span class="lg-show">%</span> (3M)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in stats %}
                        <tr>
                            <td>
                                {%- if stat['processor'] == 'ALL' -%} <b> {%- endif -%}
                                {{ stat['processor'] }}
                                {%- if stat['processor'] == 'ALL' -%} </b> {%- endif -%}
                            </td>
                            <td>{{ stat['gl'] | safe }}</td>
                            <td>{{ stat['gl_3m'] | safe }}</td>
                            <td>{{ stat['win_rate'] }}</td>
                            <td>{{ stat['win_rate_3m'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-6">
        <div class="card fix-height-card">
            <div class="card-header"><span class="card-title">Slippage Analysis</span></div>
            <div class="card-body overflow-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">PROCESSOR</th>
                            <th scope="col">SLIP<span class="lg-hidden">PAGE</span> (ALL)</th>
                            <th scope="col">SLIP<span class="lg-hidden">PAGE</span> (3M)</th>
                            <th scope="col">
                                <span class="lg-hidden">SLIPPAGE PERCENT</span>
                                <span class="lg-show">SLIP %</span>
                                (ALL)
                            </th>
                            <th scope="col">
                                <span class="lg-hidden">SLIPPAGE PERCENT</span>
                                <span class="lg-show">SLIP %</span>
                                (3M)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in stats %}
                        {% if stat['processor'] != 'UNKNOWN' %}
                        <tr>
                            <td>
                                {%- if stat['processor'] == 'ALL' -%} <b> {%- endif -%}
                                {{ stat['processor'] }}
                                {%- if stat['processor'] == 'ALL' -%} </b> {%- endif -%}
                            </td>
                            <td>{{ stat['slip'] | safe }}</td>
                            <td>{{ stat['slip_3m'] | safe }}</td>
                            <td>{{ stat['avg_slip_pct'] | safe }}</td>
                            <td>{{ stat['avg_slip_pct_3m'] | safe }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-6">
        <div class="card fix-height-card">
            <div class="card-header"><span class="card-title">Risk Statistics</span></div>
            <div class="card-body overflow-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            {% for risk in risks %}
                                 <th scope="col" class="{{ 'xs-hidden' if loop.index0 < loop.length - 4 else ''}}">{{ risk['year'] }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alpha</td>
                            {% for risk in risks %}
                                 <td class="{{ 'xs-hidden' if loop.index0 < loop.length - 4 else ''}}">{{ risk['alpha'] | safe }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Beta</td>
                            {% for risk in risks %}
                                 <td class="{{ 'xs-hidden' if loop.index0 < loop.length - 4 else ''}}">{{ risk['beta'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Sharpe Ratio</td>
                            {% for risk in risks %}
                                 <td class="{{ 'xs-hidden' if loop.index0 < loop.length - 4 else ''}}">{{ risk['sharpe'] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Annual Return</td>
                            {% for risk in risks %}
                                 <td class="{{ 'xs-hidden' if loop.index0 < loop.length - 4 else ''}}">{{ risk['return'] | safe }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Drawdown</td>
                            {% for risk in risks %}
                                 <td class="{{ 'xs-hidden' if loop.index0 < loop.length - 4 else ''}}">{{ risk['drawdown'] | safe }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-6">
        <div class="card fix-height-card">
            <div class="card-header"><span class="card-title">Cash Flow</span></div>
            <div class="chart-container short-chart-container">
                <canvas id="graph-cash-flow"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-6">
        <div class="card fix-height-card">
            <div class="card-header"><span class="card-title">Transaction Count</span></div>
            <div class="chart-container short-chart-container">
                <canvas id="graph-trans-cnt"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-6">
        <div class="card fix-height-card">
            <div class="card-header"><span class="card-title">Annual Return (%)</span></div>
            <div class="chart-container short-chart-container">
                <canvas id="graph-annual-return"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const GL_BARS = {{ gl_bars | safe }};
    const TRANSACTION_CNT = {{ transaction_cnt | safe }};
    const CASH_FLOWS = {{ cash_flows | safe }};
    const ANNUAL_RETURN = {{ annual_return | safe }};
</script>
<script src="{{ url_for('static', filename='js/analytics.js') }}"></script>
{% endblock %}