{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/analytics.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
        <div class="card">
            <div class="card-header"><span class="card-title">Gain / Loss</span></div>
            <div id="chart-gl-container">
                <canvas id="graph-gl-all"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-6">
        <div class="card fix-height-card">
            <div class="card-header"><span class="card-title">Performance</span></div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">PROCESSOR</th>
                            <th scope="col">
                                <span class="xs-hidden">GAIN / LOSS</span>
                                <span class="xs-show">G/L</span>
                            </th>
                            <th scope="col">WIN RATE</th>
                            <th scope="col">
                                <span class="xs-hidden">TRANSACTION </span>COUNT
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in stats %}
                        <tr>
                            <td>
                                {%- if stat['processor'] == 'ALL' -%} <b> {%- endif -%}
                                {{ stat['processor'] }}
                                {%- if stat['processor'] == 'ALL' -%} </b> {%- endif -%}
                            </td>
                            <td>{{ stat['gl'] | safe }}</td>
                            <td>{{ stat['win_rate'] }}</td>
                            <td>{{ stat['cnt'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-6">
        <div class="card fix-height-card">
            <div class="card-header"><span class="card-title">Slippage</span></div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">PROCESSOR</th>
                            <th scope="col">
                                <span class="xs-hidden">SLIPPAGE</span>
                                <span class="xs-show">SLIP</span>
                            </th>
                            <th scope="col">
                                <span class="xs-hidden">AVERAGE PERCENT</span>
                                <span class="xs-show">AVG PCT</span>
                            </th>
                            <th scope="col">
                                <span class="xs-hidden">TRANSACTION </span>COUNT
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in stats %}
                        <tr>
                            <td>
                                {%- if stat['processor'] == 'ALL' -%} <b> {%- endif -%}
                                {{ stat['processor'] }}
                                {%- if stat['processor'] == 'ALL' -%} </b> {%- endif -%}
                            </td>
                            <td>{{ stat['slip'] | safe }}</td>
                            <td>{{ stat['avg_slip_pct'] | safe }}</td>
                            <td>{{ stat['slip_cnt'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const GL_BARS = {{ gl_bars | safe }};
</script>
<script src="{{ url_for('static', filename='js/analytics.js') }}"></script>
{% endblock %}