{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/backtest.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
<script>
</script>
<script src="{{ url_for('static', filename='js/backtest.js') }}"></script>
{% endblock %}
