{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/backtest.css') }}">
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header"><span class="card-title">Backtest Diff</span></div>
     <div id="select-container">
         <span class="inline-span">
             <div class="input-group">
                 <label class="input-group-text"><i class="uil uil-processor"></i></label>
                 <select class="form-select" id="processor-select">
                     {% for processor in processors %}
                         <option value="{{ processor }}" {% if active_processor == processor or (active_processor not in processors and loop.index0 == 0) %} selected {% endif %}>
                             {{ processor }}
                         </option>
                     {% endfor %}
                 </select>
             </div>
         </span><span class="inline-span">
             <div class="input-group">
                 <label class="input-group-text"><i class="uil uil-calendar-alt"></i></label>
                 <select class="form-select" id="ndays-select">
                     <option value="7" {% if ndays == 7 %} selected {% endif %}>Last Week</option>
                     <option value="30" {% if ndays == 30 %} selected {% endif %}>Last Month</option>
                     <option value="365" {% if ndays == 365 %} selected {% endif %}>Last Year</option>
                 </select>
             </div>
         </span>
    </div>

    <div class="card-body">
        <table class="table margin-table">
            <tbody>
            <tr>
                <td>
                    <span class="margin-span" style="color:#ed594e">MISS: {{miss}}</span>
                    <span class="margin-span" style="color:#fc791c">EXTRA: {{extra}}</span>
                    <span style="color:#04802f">COMMON: {{comm}}</span>
                    <br>
                    <span style="color:#807f7d">MISMATCH RATE: {{rate}}</span>
                </td>
            </tr>
            </tbody>
        </table>
        {% for table in tables %}
        <table class="table table-bordered margin-table">
            <thead>
            <tr>
                <th colspan="2" class="diff_center">{{ table['date'] }}</th>
            </tr>
            <tr>
                <th class="diff_center">BACKTEST</th>
                <th class="diff_center">TRADE</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for t in ['backtest', 'trade'] %}
                <td>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">
                                <span class="xs-hidden">SYMBOL</span>
                                <span class="xs-show">SYMB</span>
                            </th>
                            <th scope="col" class="xs-hidden">PROCESSOR</th>
                            <th scope="col" class="lg-hidden">SIDE</th>
                            <th scope="col">ENTRY TIME</th>
                            <th scope="col">EXIT TIME</th>
                            <th scope="col" class="lg-hidden">GAIN / LOSS</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ table[t] | safe }}
                        </tbody>
                    </table>
                </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/backtest.js') }}"></script>
{% endblock %}
