{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    {% for symbol in ['QQQ', 'SPY', 'DIA', 'TQQQ'] %}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-3 col-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="mt-2">
                        <h6>{{ symbol }}</h6>
                        <h2 class="mb-0">{{ watch[symbol]['price'] }}</h2>
                    </div>
                </div>
                <span class="text-muted footnote">
                    {{ watch[symbol]['change'] | safe }} {{ watch[symbol]['date'] }}
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
        <div class="card">
            <div class="card-header"><span class="card-title">Portfolio Value</span></div>
            <div id="portfolio-info">
                <span id="current-equity" class="mb-0 number-font"></span>
                <span id="current-change" class="number-font"></span>
            </div>
            <div class="card-body" id="button-card">
                <div class="button-title"><i class="uil uil-graph-bar"></i> COMPARE</div>
                <div class="row">
                    <div class="button-row compare-row">
                        {% for symbol in ['qqq', 'spy', 'tqqq'] %}
                        <span class="btn my-btn-outline my-btn-{{symbol}}"  id="btn-{{symbol}}">{{ symbol | upper }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="button-title"><i class="uil uil-clock"></i> TIMEFRAME</div>
                <div class="row button-row">
                    {% for timeframe in ['1d', '1w', '1m', '6m', '1y', '5y'] %}
                    {% if loop.index0 % 3 == 0 %}
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 button-col">
                    {% endif %}
                        <span class="btn my-btn-outline my-btn-primary" id="btn-{{timeframe}}">
                            {{timeframe[0] + ' ' + timeframe[1] | upper}}
                        </span>
                    {% if loop.index0 % 3 == 2 %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="chart-container">
                {% for timeframe in ['1d', '1w', '1m', '6m', '1y', '5y'] %}
                <canvas id="graph-{{timeframe}}" style="display:none;"></canvas>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-6">
        <div class="card fix-height-card">
            <div class="card-header"><span class="card-title">Recent Orders</span></div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <span class="xs-hidden">SYMBOL</span>
                                <span class="xs-show">SYMB</span>
                            </th>
                            <th scope="col">SIDE</th>
                            <th scope="col">PRICE</th>
                            <th scope="col" class="xs-hidden">VALUE</th>
                            <th scope="col">TIME</th>
                            <th scope="col">
                                <span class="xs-hidden">GAIN / LOSS</span>
                                <span class="xs-show">G/L</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order['symbol'] }}</td>
                            <td>
                                <span class="badge-shape {{ 'badge-blue' if order['side'] == 'buy' else 'badge-purple'}}">
                                    {{ order['side'] }}
                                </span>
                            </td>
                            <td>{{ order['price'] }}</td>
                            <td class="xs-hidden">{{ order['value'] }}</td>
                            <td>{{ order['time'] | safe }}</td>
                            <td>{{ order['gl'] | safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-6">
        <div class="card fix-height-card">
            <div class="card-header"><span class="card-title">Current Positions</span></div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <span class="xs-hidden">SYMBOL</span>
                                <span class="xs-show">SYMB</span>
                            </th>
                            <th scope="col">SIDE</th>
                            <th scope="col">PRICE</th>
                            <th scope="col">VALUE</th>
                            <th scope="col" class="xs-hidden">DAY CHANGE</th>
                            <th scope="col">
                                <span class="xs-hidden">GAIN / LOSS</span>
                                <span class="xs-show">G/L</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for position in positions %}
                        <tr>
                            <td>{{ position['symbol'] }}</td>
                            <td>
                                <span class="badge-shape {{ 'badge-blue' if position['side'] == 'long' else 'badge-orange'}}">
                                    {{ position['side'] }}
                                </span>
                            </td>
                            <td>{{ position['current_price'] }}</td>
                            <td>{{ position['value'] }}</td>
                            <td class="xs-hidden">{{ position['day_change'] | safe }}</td>
                            <td>{{ position['gl'] | safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const HISTORIES = {{ histories | safe }};
</script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}