{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    {% for symbol in ['QQQ', 'SPY', 'DIA', 'TQQQ'] %}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-3 col-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="mt-2">
                        <h6>{{ symbol }}</h6>
                        <h2 class="mb-0" id="{{symbol}}-watch-price"></h2>
                    </div>
                </div>
                <span class="text-muted footnote" id="{{symbol}}-watch-footnote"></span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
        <div class="card">
            <div class="card-header"><span class="card-title">Portfolio Value</span></div>
            <div id="portfolio-info">
                <span id="current-equity" class="mb-0 number-font"></span>
                <span id="current-change" class="number-font"></span>
            </div>
            <div class="card-body" id="button-card">
                <div class="button-title"><i class="uil uil-graph-bar"></i> COMPARE</div>
                <div class="row">
                    <div class="button-row compare-row">
                        {% for symbol in ['qqq', 'spy', 'tqqq'] %}
                        <span class="btn my-btn-outline my-btn-{{symbol}}"  id="btn-{{symbol}}">{{ symbol | upper }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="button-title"><i class="uil uil-clock"></i> TIMEFRAME</div>
                <div class="row button-row">
                    {% for timeframe in ['1d', '1w', '2w', '1m', '6m', 'ytd', '1y', '5y'] %}
                    {% if loop.index0 % 4 == 0 %}
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 button-col">
                    {% endif %}
                        <span class="btn my-btn-outline my-btn-primary" id="btn-{{timeframe}}">
                            {{timeframe[0] + ' ' + timeframe[1] | upper if timeframe != 'ytd' else timeframe | upper}}
                        </span>
                    {% if loop.index0 % 4 == 3 %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="chart-container">
                <canvas id="portfolio-graph"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-6">
        <div class="card fix-height-card">
            <div class="card-header"><span class="card-title">Recent Orders</span></div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <span class="xs-hidden">SYMBOL</span>
                                <span class="xs-show">SYMB</span>
                            </th>
                            <th scope="col">SIDE</th>
                            <th scope="col">PRICE</th>
                            <th scope="col" class="xs-hidden">VALUE</th>
                            <th scope="col">TIME</th>
                            <th scope="col">
                                <span class="xs-hidden">GAIN / LOSS</span>
                                <span class="xs-show">G/L</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="orders-tbody"></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-6">
        <div class="card fix-height-card">
            <div class="card-header"><span class="card-title">Current Positions</span></div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <span class="xs-hidden">SYMBOL</span>
                                <span class="xs-show">SYMB</span>
                            </th>
                            <th scope="col">SIDE</th>
                            <th scope="col">PRICE</th>
                            <th scope="col">VALUE</th>
                            <th scope="col" class="xs-hidden">DAY CHANGE</th>
                            <th scope="col">
                                <span class="xs-hidden">GAIN / LOSS</span>
                                <span class="xs-show">G/L</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="positions-tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const INIT_HISTORIES = {{ histories | safe }};
    const INIT_WATCH = {{ watch | safe }};
    const INIT_ORDERS = {{ orders | safe }};
    const INIT_POSITIONS = {{ positions | safe }};

</script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}