{% extends "base.html" %}sk

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/logs.css') }}">
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header"><span class="card-title">Logs</span></div>
    <div class="card-body">
        <table class="table table-borderless table-responsive">
            <tbody>
            {% for log_entry in log_entries %}
            <tr>
                <td class="fit-content-cells type-cells">
                    <span class="badge-shape badge-{{ log_entry['type'] }} ">
                        {{ log_entry['type'] }}
                    </span>
                </td>
                <td class="fit-content-cells">
                    <span class="xs-hidden">{{ log_entry['time'] }}</span>
                    <span class="xs-show">{{ log_entry['time-short'] }}</span>
                </td>
                <td class="xs-hidden fit-content-cells">{{ log_entry['code'] }}</td>
                <td class="message-cells">{{ log_entry['message'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}