{% extends "base.html" %}sk

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/logs.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-6">
        <div class="card">
            <div class="card-body">
                <h6>Date</h6>
                <div class="input-group">
                  <span class="input-group-text" id="calendar-icon"><i class="uil uil-calendar-alt"></i></span>
                  <input type="text" class="form-control" id="datepicker" readonly>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-6">
        <div class="card">
            <div class="card-body">
                <h6>Logger</h6>
                <select class="form-select" aria-label="Default select example">
                  <option value="Trading" selected>Trading</option>
                  <option value="OvernightProcessor">OvernightProcessor</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="card log-card">
    <div class="card-header"><span class="card-title">Logs</span></div>
    <div class="card-body">
        <table class="table table-borderless table-responsive">
            <tbody>
            {% for log_entry in log_entries %}
            <tr>
                <td class="fit-content-cells type-cells">
                    <span class="badge-shape badge-{{ log_entry['type'] }} ">
                        {{ log_entry['type'] }}
                    </span>
                </td>
                <td class="fit-content-cells">
                    <span class="xs-hidden">{{ log_entry['time'] }}</span>
                    <span class="xs-show">{{ log_entry['time_short'] }}</span>
                </td>
                <td class="xs-hidden fit-content-cells">{{ log_entry['code'] }}</td>
                <td class="message-cells">
                    {%- if 'message_short' in log_entry -%}
                    <span class="xs-hidden">{{ log_entry['message'] }}</span><span class="xs-show">{{ log_entry['message_short'] }}</span>
                    {%- else -%}
                    {{ log_entry['message'] }}
                    {%- endif -%}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker.min.js"></script>
<script src="{{ url_for('static', filename='js/logs.js') }}"></script>
{% endblock %}