{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/logs.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker.min.js"></script>
{% endblock %}

{% block content %}
<div id="nav-buttons">
    <button type="button" class="btn btn-nav btn-floating btn-lg" id="btn-back-to-top">
      <i class="uil uil-angle-up"></i>
    </button>

    <button type="button" class="btn btn-nav btn-floating btn-lg" id="btn-go-to-bottom">
      <i class="uil uil-angle-down"></i>
    </button>
</div>

<div class="card log-card">
    <div class="card-header"><span class="card-title">Logs</span></div>
    <div id="select-container">
        <span class="inline-span">
            <div class="input-group">
              <span class="input-group-text"><i class="uil uil-calendar-alt"></i></span>
              <input type="text" class="form-control" id="datepicker" readonly>
            </div>
        </span><span class="inline-span">
            <div class="input-group">
                <span class="input-group-text"><i class="uil uil-file-copy-alt"></i></span>
                <select class="form-select" id="logger-select">
                    {% for logger in loggers %}
                        <option value="{{logger}}" {% if loop.index0 == 0 %} selected {% endif %} >
                            {{logger}}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </span><span class="inline-span">
            <div class="input-group">
                <span class="input-group-text"><i class="uil uil-info-circle"></i></span>
                <select class="form-select" id="level-select">
                    <option value="debug">Debug</option>
                    <option value="info">Info</option>
                    <option value="warning">Warning</option>
                    <option value="error">Error</option>
                </select>
            </div>
        </span>
    </div>

    <div class="card-body overflow-auto">
        <table class="table table-borderless table-responsive">
            {% for logger, logger_entries in log_entries.items() %}
                <tbody id="log-{{logger}}" style="{{ 'display:none' if loggers and logger != loggers[0] }}">
                    {% for log_entry in logger_entries %}
                        <tr>
                            <td class="fit-content-cells type-cells">
                                <span class="badge-shape badge-{{ log_entry['type'] }} ">
                                    <span class="xs-hidden">{{ log_entry['type'] }}</span>
                                    <span class="xs-show">{{ log_entry['type_initial'] }}</span>
                                </span>
                            </td>
                            <td class="fit-content-cells">
                                <span class="xs-hidden">{{ log_entry['time'] }}</span>
                                <span class="xs-show">{{ log_entry['time_short'] }}</span>
                            </td>
                            <td class="xs-hidden fit-content-cells">{{ log_entry['code'] }}</td>
                            <td class="message-cells">{{ log_entry['message'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const CURRENT_DATE = "{{ date | safe }}";
    const DATES= {{ dates | safe }};
    var current_logger = "{{ loggers[0] if loggers else '' }}";
</script>
<script src="{{ url_for('static', filename='js/logs.js') }}"></script>
{% endblock %}
