.dash-content #chart-gl-container {
    display: block;
    position: relative;
    margin: auto;
    padding: 0 15px 15px 15px;
    height: 370px;
    width: 100%;
}

.dash-content #select-container{
    padding: 25px 15px 10px 15px;
}

#select-container .inline-span {
    display: inline-block;
}

.dash-content .input-group .form-select {
    width: 250px;
    font-size: 15px;
}

@media (max-width: 800px) {
    #select-container .inline-span {
        width: calc(50% - 10px);
    }

    .dash-content .input-group .form-select {
        font-size: 0.7rem;
        width: calc(100% - 200px);
    }
}