.dash-content .card .chart-container {
    display: block;
    position: relative;
    margin: auto;
    padding: 0 15px 15px 15px;
    height: 370px;
    width: 100%;
}

.dash-content .row .card .short-chart-container {
    padding-top: 15px;
    height: 300px;
}

.dash-content #select-container {
    padding: 25px 15px 10px 15px;
}

#select-container .inline-span {
    display: inline-block;
}

.dash-content .input-group .form-select {
    width: 250px;
    font-size: 15px;
}

@media (max-width: 1600px) {
    .card .card-body .lg-hidden {
        display: none;
    }

    .card .card-body .lg-show {
        display: inline;
    }

    .card .card-body table {
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    #select-container .inline-span {
        width: calc(50% - 10px);
    }

    .dash-content .input-group .form-select {
        font-size: 8px;
        width: calc(100% - 200px);
    }

    .card .card-body table {
        font-size: 9px;
    }
}