.dash-content #chart-gl-container {
    display: block;
    position: relative;
    margin: auto;
    padding: 0 15px 15px 15px;
    height: 370px;
    width: 100%;
}

.dash-content #processor-select-container{
    padding: 25px 15px 10px 15px;
    width: 300px;
}

@media (max-width: 800px) {
    .form-control {
        font-size: 0.8rem;
    }

    .form-select {
        font-size: 0.8rem;
    }
}