@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto+Mono:wght@400;500&family=Rajdhani&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #0E4BF1;
    --primary-bg-color: #335D9F;
    --panel-color: #fff;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --title-icon-color: #fff;
    --tran-05: all 0.5s ease;
}

body{
    min-height: 100vh;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
    font-family: 'Poppins', sans-serif;
}

nav.close{
    width: 73px;
}

nav .logo{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e9edf4;
    border-right: 1px solid #e9edf4;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 99;
    height: 75px;
    padding: 15px 16px;
	width: 250px;
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.logo-text {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
}

nav .logo .logo-text {
    margin-left: 20px;
    transition: var(--tran-05);
}

.top .logo-text {
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    opacity: 0;
    pointer-events: none;
}

nav.close .logo-text{
    opacity: 0;
    pointer-events: none;
}

nav .menu-items{
    margin-top: 75px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
}

.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.menu-items ul {
    padding-left: 0;
}

.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -3px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #177efc;
}

.menu-items li a i{
    font-size: 22px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}

.menu-items li a .link-name{
    font-size: 14px;
    font-weight: 400;
    transition: var(--tran-05);
    color: var(--black-light-color);
}

.menu-items li a .active {
    color: #177efc;
}

nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: #f9f9f9;
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
	border-bottom: 1px solid #e9edf4;
	height: 75px;
}

nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle{
    font-size: 25px;
    cursor: pointer;
}

.dashboard .dash-content{
    font-family: 'Roboto Mono', monospace;
    padding-top: 80px;
}

.card .card-body .xs-show {
    display: none;
}

.card .card-body .lg-show {
    display: none;
}

.card .card-body table {
    margin-bottom: 0;
    font-size: 15px;
}

.card .card-body tbody > tr:last-child > td {
    border-bottom: 0;
}

.badge-shape {
    padding: 0.5em 0.75em 0.5em 0.75em;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50rem;
    line-height: 1;
}

.badge-purple {
    color: #b91df2;
    background-color: rgba(202, 147, 245, 0.15);
}

.badge-blue {
    color: #0967b5;
    background-color: rgba(83, 145, 237, 0.1);
}

.dash-content .fix-height-card {
    height: calc(100% - 20px);
}

.dash-content .card .card-header {
    background-color: #fff;
}

.card .card-header .card-title {
    font-size: 16px;
    font-weight: 500;
}

.dash-content .card {
    margin: 10px 0 10px 0;
}

.dash-content .card .card-body {
    padding: 10px 16px 10px 16px;
}

.badge-shape {
    font-size: 12px;
}

.dash-content #select-container {
    padding: 25px 10px 10px 10px;
}

#select-container .inline-span {
    display: inline-block;
    width: 315px;
    padding: 5px 10px 5px 10px;
}

#select-container .input-group .form-select {
    width: 250px;
    font-size: 15px;
}

@media (max-width: 1200px) {
    nav{
        width: 73px;
    }

    nav.close{
        width: 250px;
    }

    nav .logo-text{
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo-text{
        opacity: 1;
        pointer-events: auto;
    }

    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }

    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }

    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }

    .dash-content .card .input-group-text {
        padding: 0.25rem 0.55rem;
    }
}

@media (max-width: 800px) {
    .card .card-body .xs-hidden {
        display: none;
    }

    .card .card-body .xs-show {
        display: inline;
    }

    .card .card-body table {
        font-size: 12px;
    }

    .badge-shape {
        font-size: 10px;
    }

    .dash-content #select-container{
        padding: 25px 4px 10px 4px;
    }

    #select-container .inline-span {
        width: calc(50%);
    }

    #select-container .input-group .form-select {
        font-size: 10px;
        width: calc(60%);
    }

    #select-container .input-group .form-select, .form-control {
        font-size: 10px;
    }
}

@media (max-width: 650px) {
    nav{
        width: 0px;
    }

    nav.close{
        width: 73px;
    }

    nav .logo-text{
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo-text{
        opacity: 0;
        pointer-events: none;
    }

    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }

    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }

    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 25px);
    }

    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }

    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }

    .top .logo-text {
        opacity: 1;
        pointer-events: auto;
    }

     #select-container .input-group .form-select {
        font-size: 8px;
    }

    #select-container .input-group .form-select, .form-control {
        font-size: 8px;
    }
}

.run-animation {
    border-width: 0;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
