.dash-content .card .chart-container {
    display: block;
    position: relative;
    margin: auto;
    padding: 0 15px 15px 15px;
    height: 650px;
    width: 100%;
}

.dash-content .card .alert {
    margin: 25px 15px 25px 15px;
}

.dash-content .card .datepicker-picker {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

.dash-content .card .select-container .input-group .right-most-input {
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}

.dash-content .select-container {
    padding: 25px 15px 10px 15px;
}

.dash-content .input-group .form-control {
    width: 250px;
    font-size: 15px;
}

.dash-content .input-group .symbol-input {
    text-transform: uppercase;
}

.dash-content .btn {
    width: 50px;
    height: 36px;
    margin-left: 20px;
    margin-bottom: 4px;
    font-size: 15px;
}

.dash-content .card .inline-span {
    display: inline-block;
}

.dash-content .card .padding-span {
    padding-left: 20px;
}

* { box-sizing: border-box; }
body {
    font: 16px Arial;
}
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 42px;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #fff;
}

@media (max-width: 1300px) {
    .dash-content #daily-card .inline-span:nth-of-type(1) {
        width: calc(66% - 45px);
    }

    .dash-content #daily-card .inline-span:nth-of-type(3) {
        width: calc(33% - 45px);
    }

    .dash-content #daily-card .form-control {
        width: calc(50% - 45px);
    }
}

@media (max-width: 1000px) {
    .dash-content .card .chart-container {
        height: 450px;
    }

    .dash-content .card .padding-span {
        padding-left: 10px;
    }

    .dash-content .card .inline-span {
        width: calc(50% - 30px);
    }

    .dash-content .input-group .form-control {
        font-size: 0.6rem;
        width: calc(100% - 200px);
    }

    .dash-content .btn {
        margin-left: 10px;
        margin-bottom: -3px;
        width: 40px;
        height: 28px;
        font-size: 0.6rem;
    }

    .autocomplete-items {
        font-size: 0.7rem;
    }

    .autocomplete-items {
        left: 35px;
    }

    .alert {
        font-size: 11px;
    }

    .dash-content .card .input-group-text {
        font-size: 0.6rem;
    }

    .dash-content .card .input-group-text {
        font-size: 0.6rem;
    }

    .dash-content .card #input-to {
        font-size: 0.5rem;
    }

    .dash-content #daily-card .inline-span:nth-of-type(1) {
        width: calc(66% - 24px);
    }

    .dash-content #daily-card .inline-span:nth-of-type(3) {
        width: calc(33% - 24px);
    }

    .dash-content #daily-card .form-control {
        font-size: 0.5rem;
        width: calc(50% - 45px);
    }

    .dash-content #daily-card .padding-span {
        padding-left: 5px;
    }

    .dash-content #daily-card .input-group-text {
        padding: 0.25rem 0.3rem;
    }

    .dash-content #daily-card .btn {
        height: 26px;
        margin-left: 5px;
    }

    .form-control {
        padding: 0.375rem 0.5rem;
    }
}