.dash-content .row {
    display: flex;
    margin-left: -0.75em;
}

.dash-content .card .my-btn-outline {
    --bs-btn-color: var(--my-btn-color);
    --bs-btn-border-color: var(--my-btn-color);
    --bs-btn-hover-border-color: var(--my-btn-color);
    --bs-btn-active-bg: var(--my-btn-color);
    --bs-btn-active-border-color: var(--my-btn-color);
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}

.dash-content .card .my-btn-outline-hover {
    --bs-btn-hover-bg: var(--my-btn-color-light);
    --bs-btn-hover-color: #fff;
}

.dash-content .card .my-btn-outline-no-hover {
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-color: var(--my-btn-color);
}

.dash-content .card .my-btn-primary {
    --my-btn-color: rgb(62, 110, 186);
    --my-btn-color-light: rgba(62, 110, 186, 0.6);
}

.dash-content .card .my-btn-qqq {
    --my-btn-color: rgb(11, 166, 188);
    --my-btn-color-light: rgba(11, 166, 188, 0.6);
}

.dash-content .card .my-btn-spy {
    --my-btn-color: rgb(215, 150, 40);
    --my-btn-color-light: rgba(215, 150, 40, 0.6);
}

.dash-content .card .my-btn-tqqq {
    --my-btn-color: rgb(170, 70, 190);
    --my-btn-color-light: rgba(170, 70, 190, 0.6);
}

#portfolio-info {
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}

#current-equity {
    color: #202124;
    font-size: 32px;
    font-weight: 400;
}

#current-change {
    font-size: 16px;
}

.dash-content .card-body .button-row {
    margin-bottom: 5px;
    float: left;
}

.dash-content .card-body .compare-row {
    margin-top: 4px;
    padding-left: 10px;
}

#button-card {
    padding-top: 0;
}

#button-card .button-title {
    font-family: 'Rajdhani', sans-serif;
    margin-top: 5px;
}

.button-row .button-col {
    padding: 0 0 0 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.dash-content #chart-container {
    display: block;
    position: relative;
    margin: auto;
    padding: 0 15px 15px 15px;
    height: 370px;
    width: 100%;
}

.dash-content .footnote {
    font-size: 13px;
}

.dash-content .card .btn {
    font-size: 13px;
    margin-left: 5px;
    margin-right: 10px;
    width: 70px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 1300px) {
    .dash-content .card .btn {
        font-size: 12px;
        margin-right: 5px;
        width: 65px;
    }
}

@media (max-width: 800px) {
    #current-equity {
        font-size: 26px;
    }

    #current-change {
        font-size: 14px;
    }

    .dash-content .card .btn {
        font-size: 11px;
        margin-right: 2px;
        width: 60px;
    }
}
