.table {
    font-family: monospace;
}

.table .message-cells {
    white-space: pre-wrap;
    padding-left: 0rem;
}

.table .fit-content-cells {
    width: 1%;
    white-space: nowrap;
    padding-right: 1rem;
    padding-left: 0rem;
}

.table .type-cells {
    text-align: center;
}

.badge-debug {
    color: #6b696e;
    background-color: rgba(170, 169, 171, 0.2);
}

.badge-info {
    color: #0967b5;
    background-color: rgba(83, 145, 237, 0.1);
}

.badge-warning {
    color: #f79a05;
    background-color: rgba(255, 162, 43, 0.1);
}

.badge-error {
    color: #d93d21;
    background-color: rgba(250, 193, 182, 0.3);
}

.card .card-body h6 {
    margin-bottom: 15px;
}

.dash-content .card .datepicker-picker {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

#nav-buttons {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99;
    display: flex;
}

.btn-nav {
    display: block;
    margin-left: 10px;
    --bs-btn-color: #6f706f;
    --bs-btn-border-color: #6f706f;
    --bs-btn-bg: rgba(111, 111, 111, 0.05);
    --bs-btn-hover-bg: rgba(111, 111, 111, 0.05);
}

#datepicker {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

@media (max-width: 800px) {
    .dash-content .log-card .card-body {
        padding: 10px 10px 10px 10px;
    }

    .btn, .btn-lg {
        --bs-btn-padding-y: 0.3rem;
        --bs-btn-padding-x: 0.7rem;
        --bs-btn-font-size: 1.25rem;
        --bs-btn-border-radius: 0.5rem;
    }

    .card .card-body .table {
        font-size: 11px;
    }
}
