.table .message-cells {
    white-space: pre-line;
    padding-left: 0rem;
}

.table .fit-content-cells {
    width: 1%;
    white-space: nowrap;
    padding-right: 1rem;
    padding-left: 0rem;
}

.table .type-cells {
    text-align: center;
}

.badge-debug {
    color: #6b696e;
    background-color: rgba(170, 169, 171, 0.2);
}

.badge-info {
    color: #0967b5;
    background-color: rgba(83, 145, 237, 0.1);
}

.badge-warning {
    color: #f79a05;
    background-color: rgba(255, 162, 43, 0.1);
}

.badge-error {
    color: #d93d21;
    background-color: rgba(250, 193, 182, 0.3);
}

.card .card-body h6 {
    margin-bottom: 15px;
}

.status {
    height: 38px;
    padding-top: 6px;
}

.status .badge-status {
    font-size: 15px;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.status .badge-running {
    color: #377a3f;
    background-color: rgba(166, 245, 176, 0.3);
}

.status .badge-idle {
    color: #4f505c;
    background-color: rgba(192, 192, 192, 0.3);
}

@media (max-width: 800px) {
    .dash-content .log-card .card-body {
        padding: 10px 8px 10px 8px;
    }

    .form-control {
        font-size: 0.8rem;
    }

    .status .badge-status {
        font-size: 13px;
    }
}