.card .card-body .med-show {
    display: none;
}

@media (max-width: 1500px) {
    .card .card-body table {
        font-size: 13px;
    }

    .badge-shape {
        font-size: 12px;
    }

    .dash-content .pagination .page-link {
        font-size: 13px;
    }

    .card .card-body .med-show {
        display: inline;
    }

    .card .card-body .med-hidden {
        display: none;
    }
}

@media (max-width: 800px) {
    .card .card-body table {
        font-size: 11px;
    }

    .dash-content .pagination .page-link {
        font-size: 9px;
    }
}