.card .card-body .lg-show {
    display: none;
}

@media (max-width: 1500px) {
    .card .card-body table {
        font-size: 13px;
    }

    .badge-shape {
        font-size: 10px;
    }

    .dash-content .pagination .page-link {
        font-size: 13px;
    }

    .card .card-body .lg-show {
        display: inline;
    }

    .card .card-body .lg-hidden {
        display: none;
    }
}

@media (max-width: 800px) {
    .card .card-body table {
        font-size: 8px;
    }

    .card .card-body table .proc-col {
        font-size: 7px;
    }

    .badge-shape {
        font-size: 6px;
    }

    .dash-content .pagination .page-link {
        font-size: 9px;
    }
}
